.App-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 35px;
    margin-left: 35px;
}

.App-header img{
  width: 90px;
  margin-top: 7px;
  margin-left: 15px;
}

.linkStyles{
  display: flex;
}

.nav-link {
  color: rgba(0, 0, 0, 0.55) !important;
  margin: 10px !important;
  font-size: 25px !important;
  text-decoration: none !important;
}

.nav-link:hover {
  color: blue !important;
  cursor: pointer;
}

.active-link {
  color: blue !important; 
  cursor: pointer;
  margin: 10px !important;
  font-size: 25px !important;
  text-decoration: none !important;
}